<!DOCTYPE HTML>
<!--
	SIM.WoT Event-Driven Simulator for the Web of Things
	-- About
-->
<html xmlns:justify-content="http://www.w3.org/1999/xhtml">
<head>
    <title>SIM.WoT - Event-Driven WoT Simulation</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="description" content="Web of Things Event-Driven Simulation"/>
    <meta name="keywords" content="Information Retrieval, Search Engine, Web of Things, Internet of Things"/>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <!-- Section for Search of Things -->
                <section class="alt" id="search">
                    <p>Event-Driven Simulator for the <br/> <\WoT> Web of Things</p>
                    <!-- <form method="post" action="/results">
                        <input type="text" name="query" id="query" placeholder="Search for Things?" />
                    </form> -->
                </section>
                <ul class="icons">
                    <li><a class="icon fa-github fa-2x" href="https://github.com/cristyanmanta/sim-wot-ugr"><span
                            class="label">GitHub Project Repository</span></a></li>
                </ul>
            </header>

            <!-- Banner w/ id="banner" nor Content-->
            <section>

                <header class="major">
                    <h2>About</h2>
                </header>

                <div class="features">
                    <article>
                        <span class="icon solid fa-rocket"></span>
                        <div class="content">
                            <h3>The Simulation Engine Sub-System</h3>
                            <p>SIM.WoT is an event-driven simulator for the Web of Things. The main component behind it
                                is a Simulation Engine. The simulation engine manages the discrete event mechanism, sets
                                the simulation time to zero, and controls the passage of time by events.</p>
                        </div>
                    </article>
                    <article>
                        <span class="icon solid fa-globe"></span>
                        <div class="content">
                            <h3>The WoT Model System</h3>
                            <p>It is responsible for creating the abstractions of the simulation entities. We use a
                                multi-layer WoT model composed of: Intelligent Zones, Smart Spaces, Virtual Things and
                                Virtual Sensors. It is mainly based on the extended WoT model.</p>
                        </div>
                    </article>
                    <article>
                        <span class="icon solid fa-file-code-o"></span>
                        <div class="content">
                            <h3>The Data and Behaviour Generator System</h3>
                            <p> This system is responsible for logically creating the real-time IR test collection of
                                XML documents containing real-time data for WoT simulated entities. Furthermore, it
                                implements the behaviour of Virtual Things: Mobility and Connectivity, and of Virtual
                                Sensors: Measurement and Failure. </p>
                        </div>
                    </article>
                    <article>
                        <span class="icon solid fa-signal"></span>
                        <div class="content">
                            <h3>The Control and Reporting System</h3>
                            <p>The WoT Simulator provides a web-based GUI interface for a user to create a WoT
                                simulation, which can be tuned in the settings menu. In addition, it compiles, records
                                and displays statistics on the operation of the simulator and the simulation itself.</p>
                        </div>
                    </article>
                </div>

            </section>

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">

            <!-- Search -->
            <section id="search" class="alt">
                <form name="form-sidebar" method="post" action="/results">
                    <input type="text" name="query_sidebar" id="query_sidebar" placeholder="Search for Things?"/>
                </form>
            </section>

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Navigation Bar</h2>
                </header>
                <ul>
                    <li>
                        <span class="opener">IR.WoT</span>
                        <ul>
                            <li><a href="https://ir-wot-ugr.appspot.com/">Search</a></li>
                            <li><a href="https://ir-wot-ugr.appspot.com/dashboard">Instructions</a></li>
                            <li><a href="/architecture">Architecture</a></li>
                            <li><a href="https://ir-wot-ugr.appspot.com/settings">Settings</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">SiM.WoT</span>
                        <ul>
                            <li><a href="https://sim-wot-ugr.ue.r.appspot.com/">SIM.WoT Simulator</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/settings">Settings</a></li>
                        </ul>
                    </li>
                    <li><a href="https://ir-wot-ugr.ue.r.appspot.com/research">Research</a></li>
                    <li><a href="https://doctorados.ugr.es/tic/">UGR Ph.D Program</a></li>
                    <li><a href="https://www.ugr.es/">University of Granada</a></li>
                </ul>
            </nav>

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>Doctoral Thesis</h2>
                </header>
                <div class="mini-posts">
                    <article>
                        <img alt="University of Granada"
                             src="{{ url_for('static', filename='images/ugrlogo-small.png') }}"
                             style=width:75px;height:75px;border:0;display:flex;justify-content:center"><br>
                        <p>Development of my dissertation to pursue the PhD degree in Information and Communication
                            Technologies at the University of Granada, Spain.</p>
                    </article>
                </div>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </section>

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>Get in touch</h2>
                </header>
                <p>You can contact us at Department of Computer Science and AI of the University of Granada:</p>
                <ul class="contact">
                    <li class="fa-envelope-o"><a
                            href="mailto:cristyanmanta@correo.ugr.es">cristyanmanta@correo.ugr.es</a></li>
                    <li class="fa-envelope-o"><a href="mailto:jmfluna@decsai.ugr.es">jmfluna@decsai.ugr.es</a></li>
                    <li class="fa-home">Calle Periodista Daniel Saucedo Aranda, s/n, 18014 Granada, Spain</li>
                </ul>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">2022 &copy; <br/> Cristyan Manta-Caro & <br/> Juan M. Fernández-Luna.</p>
            </footer>

        </div>
    </div>

</div>

<!-- Scripts -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
